﻿@model Configurator1.PresentationModel.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Create";
}

<p>
    @using (Html.BeginForm())
    {
        @Html.LabelFor(x => x.FirstName)
        <p>@Html.TextBoxFor(x => x.FirstName)</p>

        @Html.LabelFor(x => x.LastName)
        <p>@Html.TextBoxFor(x => x.LastName)</p>

        <input type="submit" value="Dodaj" />
    }
</p>

        <p>
            @Html.ActionLink("Dodaj", "Create")
        </p>

    <h2>Create</h2>

