﻿@model Configurator1.PresentationModel.ViewModels.UsersViewModel

@{
    ViewData["Title"] = "View";
}

<table>

    @foreach (var item in Model.UserRows)
    {
        @if (Model.SelectedUserId.HasValue && Model.SelectedUserId.Value == item.Id)
        {
            <tr style="font-weight:bold">

                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
            </tr>
        }

    }

</table>

<p>
    @Html.ActionLink("Dodaj", "Create")
</p>

<h2>View</h2>

